header {
  display: flex;
  background-color: #202429;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  padding: 0 16px 0 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ol {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 32px;
}

.search-box {
  button {
    color: #217d53;
    background-color: transparent;
    border-color: #2c493d;
    border: 2px solid;
    padding: 8px;
    border-radius: 2px;
  }
  input {
    border: 2px solid #80878d;
    border-radius: 3px;
    padding: 8px;
  }
}

.search-box button:hover {
  background-color: #217d53;
  color: #ffffff;
}

#disabled {
  opacity: 49%;
  cursor: not-allowed;
}

#dropdown_btn,
select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 0 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: #9b9d9f;
  display: flex;
  grid-template-areas: 'dropdown_btn';
  align-items: center;
}

#dropdown_btw,
#dropdonwbtn::after {
  grid-area: dropdown_btn;
}

#dropdown_btn::after {
  content: '▾';
  color: #9b9d9f;
  font-size: 20px;
  align-self: flex-end;
}

@media (max-width: 768px) {
  header {
    display: flex;
    background-color: #202429;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    padding: 0 16px 0 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
  }

  .hamburger-menu div {
    border: 2px solid white;
    margin: 6px;
    opacity: 100%;
    width: 40px;
  }

  .hamburger-menu svg {
    fill: white;
  }
  form {
    display: none;
  }
  ol {
    list-style: none;
    display: none;
    justify-content: space-between;
  }

  .navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 32px;
  }

  .search-box {
    button {
      color: #217d53;
      background-color: transparent;
      border-color: #2c493d;
      border: 2px solid;
      padding: 8px;
      border-radius: 2px;
    }
    input {
      border: 2px solid #80878d;
      border-radius: 3px;
      padding: 8px;
    }
  }

  .search-box button:hover {
    background-color: #217d53;
    color: #ffffff;
  }

  #disabled {
    opacity: 49%;
    cursor: not-allowed;
  }

  #dropdown_btn,
  select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 0 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    color: #9b9d9f;
    display: flex;
    grid-template-areas: 'dropdown_btn';
    align-items: center;
  }

  #dropdown_btw,
  #dropdonwbtn::after {
    grid-area: dropdown_btn;
  }

  #dropdown_btn::after {
    content: '▾';
    color: #9b9d9f;
    font-size: 20px;
    align-self: flex-end;
  }
}
