header {
  display: flex;
  background-color: #202429;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 16px;
}
ol {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 32px;
}

.search-box {
  button {
    color: #217d53;
    background-color: transparent;
    border-color: #2c493d;
    border: 2px solid;
    padding: 6px;
    border-radius: 2px;
  }
  input {
    border: 2px solid #80878d;
    border-radius: 3px;
    padding: 6px;
  }
}

#disabled {
  opacity: 49%;
  cursor: not-allowed;
}
