body {
  color: lightslategray;
}

blockquote {
  background-color: rgba(0, 12, 24, 0.05);
}

a {
  border: 1px dashed red;
}

em {
  color: darkred;
}

.variant-em {
  background-color: greenyellow;
  color: black;
  font-weight: bold;
  font-style: inherit;
}

ul {
  background-color: unset;
}

ul li {
  padding: 16px;
}

.link1 > a {
  padding: inherit;
  color: inherit;
}

.link2 > a {
  padding: initial;
  color: initial;
}

.link3 a {
  color: unset;
  padding: unset;
}

.content1 p {
  border-color: black;
  border-width: 3px;
}
